* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #555;
}

p {
    padding: 30px;
    font-size: 17px;

}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #444;
    border-radius: 20px;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, #ffe259, #ffa751);
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(90deg, #ffce3a, #ff8f3f);
}
