html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif, 'Courier New', Courier, monospace;
    background-image: url(sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    box-sizing: border-box;
}

div h1 {
    box-sizing: border-box;
    position: relative;
    top: -5%;
}

div, form, input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

div form button {
    width: 175px;
    border-radius: 15px;
    font-size: 20px;
    position: inherit;
    padding: 2px;
    margin-top: 5px;
    align-self: center;
    background-color: #6df17896;
    border: none;
}

input {
    width: 350px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 25px;
    transition: ease 0.4s;
    background-color: rgba(114, 80, 170, 0.308);
    color: white;
}

form a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    align-items: center;
    position: relative;
    top: 15px;
    transition: ease-out 0.2s;
}

.btn {
    color: white;
    transition: ease 0.3s;
}

input:hover {
    transform: scale(1.03);
}

.btn:hover {
    transform: translateY(-3px);
    background-color: #6df178;
}

a:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    div {
        width: 75%;
        height: auto;
        padding: 15px;
    }

    div h1 {
        font-size: 28px;
        text-align: center;
    }

    input {
        width: 100%;
        font-size: 20px;
    }

    div form button {
        width: 120px;
        font-size: 18px;
    }
    
}
